{% extends "main/pattern.html" %}

{% block title %}
Сравнение антивирусов
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-8 mx-auto">
<h1>Сравнение 16 антивирусов, какой лучше?</h1>
</div>
<br>
<p class="lead text-muted"><strong>Распознавание известных вирусов.</strong> Для разработчиков антивирусного ПО выпуск обновлений своих продуктов — это бег наперегонки со злоумышленниками. Последние ежедневно заполняют Интернет новым вредоносным кодом, который в лабораториях производителей защитных пакетов собирается, анализируется и перерабатывается в шаблон для антивирусов.</p>
<p class="lead text-muted">Тот факт, что распознавание известных вирусов является самой легкой задачей для большинства протестированных пакетов, доказывает соблюдение высокого уровня работы всеми разработчиками. Вычисленная степень распознавания в данной категории у всех продуктов находится выше 99%. Однако лишь в случае с Bitdefender, Symantec и Trend Micro были распознаны дейст­вительно все вредители из нашего набора.</p>
<br>

<p class="lead text-muted"><strong>Распознавание угроз нулевого дня. </strong>Гораздо сложнее справиться с вирусами, используемыми при атаках нулевого дня. В таких случаях речь идет о совершенно новых вредителях, от которых разработчики антивирусов пока еще не «привили» свои программы. Здесь защита через сигнатуры не работает. В дело должны вступать другие модули — например, эвристика или запрос о&nbsp;репутации в облачный сервис. Лишь Bitdefender, Comodo и Symantec набрали в данной категории максимальное количество баллов, от остальных вирусы ускользнули.</p>
<p class= "lead text-muted">Степень распознавания в 98% выглядит лучше, чем является на самом деле, поскольку означает, что из 100 атак две пройдут успешно, чего не должно происходить при наличии антивируса. Вот почему мы столь сущест­венно снизили баллы за эту ошибку.</p>
<h3>Любой антивирус тормозит работу ПК</h3>
<img class="wp-image-271422 size-full" src="https://ichip.ru/blobimgs/uploads/2018/06/3-19.jpg" alt="Защита в фоновом режиме влияет на производительность ПК. На графике представлены самые замедляющие продукты из нашего рейтинга" width="806" height="427" srcset="https://ichip.ru/blobimgs/uploads/2018/06/3-19.jpg 806w, https://ichip.ru/blobimgs/uploads/2018/06/3-19-150x79.jpg 150w, https://ichip.ru/blobimgs/uploads/2018/06/3-19-300x159.jpg 300w" sizes="(max-width: 806px) 100vw, 806px">
<p class="lead text-muted"><strong>Защита в фоновом режиме влияет на производительность ПК. На графике представлены самые замедляющие продукты из нашего рейтинга</strong></p>
<p class="lead text-muted">Пакеты безопасности работают без перерыва: они, в качестве одного из первейших компонентов, вклиниваются в загрузочный процесс Windows и контролируют любое обращение к файлу. Таким образом, неважно, чем вы занимаетесь: просматриваете ли сайты, скачиваете ли файл, копируете ли папку, работаете ли с программами Office или же устанавливаете новую утилиту для видеомонтажа, — все будет проверено антивирусом в реальном времени.</p>
<p class="lead text-muted">Однако стоит иметь в виду, что эти дополнительные усилия будут стоить производительности различных компонентов, причем существенной: так, установка программ с Comodo на компьютере займет в два раза больше времени, чем на машине без защиты. При использовании ESET во время тестирования мы зафиксировали замедление работы стандартных программ до целых 66%.<br><h3>Подводя итоги я хочу предоставить вам сравнительный тест антивирусных программ</h3></p>
<img class="aligncenter size-full wp-image-271452" src="https://ichip.ru/blobimgs/uploads/2018/06/6-17.jpg" alt="Кто кого? Сравниваем 15 антивирусов с Защитником Windows" width="1055" height="537" srcset="https://ichip.ru/blobimgs/uploads/2018/06/6-17.jpg 1055w, https://ichip.ru/blobimgs/uploads/2018/06/6-17-150x76.jpg 150w, https://ichip.ru/blobimgs/uploads/2018/06/6-17-300x153.jpg 300w, https://ichip.ru/blobimgs/uploads/2018/06/6-17-1024x521.jpg 1024w" sizes="(max-width: 1055px) 100vw, 1055px">



{% endblock %}


