{% extends "main/pattern.html" %}

{% block title %}
Антивирус
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 >Антивирусная программа</h1>
          <p class="lead text-muted">специализированная программа для обнаружения компьютерных вирусов, а также нежелательных  программ и восстановления заражённых.</p>
        <p>
        </p>
      </div>
    </div>

    <hr class="col-5 col-md-10 mb-12">
    
    <marquee><img src = "https://bluegua.files.wordpress.com/2016/02/kaspersky-logo1-2.png" witdh = "50" height="50"></marquee>

    <hr class="col-5 col-md-10 mb-12">
  </section>
 

  <section class="py-5 text-center container">
  <div class="row g-5">
    <div class="col-md-6">
      <h2>Виды антивирусных программ</h2>
      <p  class="lead text-muted">Чтобы найти и удалить компьютерные вирусы, а также защитить компьютер от их проникновения, существует несколько типов специальных программ, позволяющих находить и обезвреживать вирусные вложения. Эти программы получили название антивирусных. Они делятся на следующие типы:<br></p>
      <strong>
      <p  align="left" style = 'text-indent: 160px;'>1.Детекторные программы.</p>
       <p  align="left" style = 'text-indent: 160px;'>2.Лечебные программы (доктора), или флаг.</p>
       <p  align="left" style = 'text-indent: 160px;'>3.Программы для ревизии(ревизоры).</p>
       <p  align="left" style = 'text-indent: 160px;'>4.Программы фильтрации.</p>
       <p  align="left" style = 'text-indent: 160px;'>5.Программы вакцинации, или программы <p  align="left" style = 'text-indent: 172px;'>иммунизации.</p></p>
      </strong>

    </div>
    <div class="col-md-6">
      <h2>Мноообразие антивирусов</h2>
      <p class="lead text-muted">Существует множество различных антивирусных программ, которые защищают ваш компьютер от разнообразных вирусов, находящихся в интернете.К примеру, такие как:<br></p>
      <div class = "container">
       
      <strong>
      <p  align="left" style = 'text-indent: 160px;'>1.Internet Security.</p>
      <p  align="left" style = 'text-indent: 160px;'>2.ESET NOD32</p>
      <p  align="left" style = 'text-indent: 160px;'>3.Avira AntiVir Personal.</p>
      <p  align="left" style = 'text-indent: 160px;'>4.Panda Antivirus.</p>
      <p  align="left" style = 'text-indent: 160px;'>5.Avast Pro Antivirus.</p>
      <p  align="left" style = 'text-indent: 160px;'>6.Dr.Web.</p>
      <p  align="left" style = 'text-indent: 160px;'>7.AVG(Anti-Virus Free).</p>
    </strong>
    </div>
  </div>
  <hr class="col-5 col-md-12 mb-12">
</section>


    <div class="container">
        <h1>Лучшая антивирусная программа</h1>
        <p class="lead text-muted">Антивирусных программ очень много. Поэтому я создал сайт в котором я сравню все известные мне антивирусы.</p>
        <div class="mb-5">
            <a href="{%url 'comparison'%}" class="btn btn-primary btn-lg px-4">Перейти к сравнению</a>
          </div>
    </div>
    </div>

{% endblock %}

